---
import { Icon } from 'astro-icon';
import ThemeToggleButton from './ThemeToggleButton';
import * as CONFIG from '../../config';

type Props = {
	editHref: string;
};

const { editHref } = Astro.props as Props;
---

<h2 class="heading">More</h2>
<ul>
	{editHref && (
		<li class={`heading-link depth-2`}>
			<a class="edit-on-github" href={editHref} target="_blank">
				<Icon name="tabler:pencil" class="w-5 h-5" height="1.5em" width="1.5em" />
				<span>Edit this page</span>
			</a>
		</li>
	)}
	{CONFIG.DISCORD_SERVER_INVITE && (
		<li class={`heading-link depth-2`}>
			<a href={CONFIG.DISCORD_SERVER_INVITE} target="_blank">
				<Icon name="tabler:brand-discord" class="w-5 h-5" height="1.5em" width="1.5em" />
				<span>Join our Discord</span>
			</a>
		</li>
	)}
    {CONFIG.SLACK_WORKSPACE_INVITE && (
		<li class={`heading-link depth-2`}>
			<a href={CONFIG.SLACK_WORKSPACE_INVITE} target="_blank">
				<Icon name="tabler:brand-slack" class="w-5 h-5" height="1.5em" width="1.5em" />
				<span>Join our Slack</span>
			</a>
		</li>
	)}
</ul>
<div style="margin: 2rem 0; text-align: center;">
	<ThemeToggleButton client:visible />
</div>

<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
